<div id="content" class="clearfix">

		<div class="header">
			
			<h1 class="page-title">My Account</h1>

		</div>

	<div class="wrp clearfix">
	
			<div class="quick-nav">
				<ul>
					<li ng-class="selectedTab == 1? 'qn-first active' : 'qn-first'"><a href="#/myAccount">Profile Picture</a></li>
					<li ng-class="selectedTab == 2? 'active' : ''"><a href="#/changePass">Change Password</a></li>
					<li ng-class="selectedTab == 0? 'active' : ''"><a href="#" onclick="return false;"><i class="fa fa-plus"></i> Add More</a></li>
					<li ng-class="selectedTab == 0? 'active' : ''">
						<a href="#" onclick="return false;"><i class="fa fa-envelope"></i> Messages</a>
						<span class="badge qnav-badge blue">16</span>
					</li>
					<li ng-class="selectedTab == 0? 'qn-last active' : 'qn-last'"><a href="#" onclick="return false;"><i class="fa fa-bar-chart-o"></i> Check Statistics</a></li>
				</ul>
			</div>
	
	<div class="fluid">
				<div class="widget grid6">
					<div class="widget-header">
						<div class="widget-title">
							 Change Password
						</div>
					</div> <!-- /widget-header -->
		<div class="comment widget-content">		
			<input style="width:50%;" type="password" id="pwd" name="pwd" ng-model="pwd" placeholder="Password">
			<input style="width:50%;" type="password" id="confPwd" name="confPwd" ng-model="confPwd" placeholder="Confirm Password">

		
			<div style="float:left;width:100%;margin-left:44%;margin-top:2%;">
		    	<button id="changePassword" ng-click="changePassword()">Save</button>
			</div>
		</div> 
	             
		
		</div> <!-- /widget -->
	</div>
	
	</div>
</div>

	
