<div id="content1" class="innerLR">

	<h2 style="margin-bottom:2%;margin-top:2%;">My Account</h2>

	<!-- Widget -->
	<div class="widget widget-tabs border-bottom-none">
		
		<!-- Widget heading -->
		<div class="widget-head">
			<ul>
				<li ng-class="selectedTab == 1? 'active' : ''"><a href="#/myAccount">Proflie Picture</a></li>
				<li ng-class="selectedTab == 2? 'active' : ''"><a href="#/changePass">Change Password</a></li>
			</ul>
		</div>
		<!-- // Widget heading END -->
			
		<div class="widget-body">
			<!-- Row -->
			<div class="row-fluid">
				<!-- Column -->
				<div class="span6">
					
					<div class="add-pic">
						<div style="width:50%;height:25%;">
							<img id="selectedImage" name="post-photo2" data-ng-mouseenter="hover = true"
			                     data-ng-mouseleave="hover = false" style="height:100%;width:100%;"
			                     tooltip-placement="bottom" data-ng-click="remove_image(0)"
			                     data-ng-src="{{img}}" alt="">
						</div>
				
						<div class="fileupload fileupload-new" data-provides="fileupload" style="float:left;margin-top:5%;">
					  		<span class="btn btn-default btn-file">
					  			<span class="fileupload-new">Select file</span>
					  			<span class="fileupload-exists">Change</span>
					  			<input type="file" id="userPic" accept="image/*" data-ng-file-select="onFileSelect($files)"/>
					  		</span>
					  		<span class="fileupload-preview"></span>
					  		<a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none">&times;</a>
						</div>
					</div>
						
				</div>
			</div>
			
			<!-- Form actions -->
			<div class="form-actions" style="margin: 0;padding-left:0px;">
				<button style="padding-left:20px;padding-right:20px;" class="btn btn-icon btn-primary glyphicons circle_ok" id="uploadUserPic" ng-click="uploadUserPic()">Upload</button>
			</div>
			<!-- // Form actions END -->
			
		</div>	
	
	</div>
			
</div>
	

	
