@(localUser: User)

<script src="@routes.Assets.at("javascripts/MarkitQuoteServiceSample.js")" type="text/javascript"></script>

<div id="content1" class="innerLR">
	<div class="row-fluid">
		<div class="span6">
			<img style="width:65%;" src="/assets/images/c_logo.png">
		</div>
		<div class="span6">
			<input style="margin-top:2%;height:initial;width:initial;float:right;" type="text" ng-model="symForQuote" id="symbolsearch1" placeholder="Get Quotes">
		</div>
	</div>	
	<div class="tickertape">
		<span id="my_xss_magic"></span>
	</div>
	
	<div class="row-fluid">
	<div class="span6" ng-init="loadAllWishlist()">
		<div class="widget widget-activity margin-none">
	
			<div class="widget-head" style="padding:0px;">
				<h4 class="heading span8 span6heading">Whitney Watch List:</h4>
				<div class="span4 span6text" style="float:right;padding-top:0.5%;">
					<input class="span12 searchText" type="text" style="float:right;height:initial;margin-rigtht:2% !important;" ng-model="text" id="symbolsearch" placeholder="Enter symbol">
				</div>
			</div>
			
			<div class="widget-body">
				<div class="slim-scroll" id="inner-content-div">
				<div id="resultContainer" data-ng-repeat="result in results" style="padding-right:10px;">
								
					<div class="row-fluid" ng-show="result.Change > 0">
						<div class="span1 span1image" style="margin-top:2%;">
							<img src="/assets/images/StockIndexUp.png">
						</div>
						<div class="span11">
						<div class="row-fluid">
							<span id="name" class="span7 span7name" style="float: left;"><a data-toggle="modal" data-target="#quoteModal" data-ng-click="showQuote($index)" style="cursor:pointer;font-size:12px;">{{result.Name}}</a></span>
							<span id="date" class="span4 span4time" style="float: left;font-size: 10px;">{{result.Timestamp}}</span>
							<span class="span1 span1glyph" style="float:right;"><img ng-click="removeFromWishlist($index)" src="/assets/images/remove.png"></span>
						</div>
						<div class="row-fluid">
							<span id="prize" class="span5" style="font-weight: bolder;">${{result.LastPrice}}</span>	
							<span id="change" class="span3" style="float: left;">{{result.Change | number:2}}</span>	
							<span id="change_prcnt" class="span3" style="float: left;font-weight: bolder;">( {{result.ChangePercent | number:2}}% )</span>
							<span class="span1 span1glyph" style="float:right;"><img ng-click="refreshQuote(result.Symbol, $index)" src="/assets/images/refresh.png"></span>
						</div>
						</div>
					<hr style="width:100%;">
					</div>
					
					<div class="row-fluid" ng-show="result.Change < 0">
						<div class="span1 span1image" style="margin-top:2%;">
							<img src="/assets/images/StockIndexDown.png">
						</div>
						<div class="span11">
						<div class="row-fluid">
							<span id="name" class="span7 span7name" style="float: left;"><a data-toggle="modal" data-target="#quoteModal" data-ng-click="showQuote($index)" style="cursor:pointer;font-size:12px;">{{result.Name}}</a></span>
							<span id="date" class="span4 span4time" style="float: left;font-size: 10px;">{{result.Timestamp}}</span>
							<span class="span1 span1glyph" style="float:right;"><img ng-click="removeFromWishlist($index)" src="/assets/images/remove.png"></span>
						</div>
						<div class="row-fluid">
							<span id="prize" class="span5" style="font-weight: bolder;">${{result.LastPrice}}</span>	
							<span id="change" class="span3" style="float: left;">{{result.Change | number:2}}</span>	
							<span id="change_prcnt" class="span3" style="float: left;font-weight: bolder;">( {{result.ChangePercent | number:2}}% )</span>
							<span class="span1 span1glyph" style="float:right;"><img ng-click="refreshQuote(result.Symbol, $index)" src="/assets/images/refresh.png"></span>
						</div>
						</div>
					<hr style="width:100%;">
					</div>
									
					
				</div>
				</div>
			</div>
	
		</div>
	</div>
	
	<div class="span6" ng-init="loadAllChats(@localUser.id)">
	
		<!-- Chat -->
		<div class="widget widget-chat margin-none">
		
			<div class="widget-head">
				<h4 class="heading">Chat:</h4>
			</div>
			
			<div class="widget-body" style="height:385px;">
			
			<!-- Slim Scroll -->
			<div class="slim-scroll chat-items" id="inner-content-div1">
				
				<div ng-repeat="chat in allChats">
				
				<!-- Media item -->
				<div ng-show="chat.type == 'message'">
					<div class="media" style="margin-top:0px;" ng-show="chat.user != '@localUser.name'">
						<div class="media-object pull-left thumb"><img ng-src="/getUserPic/{{chat.userId}}" alt="Image" style="width:51px;height:51px;"></div>
						<div class="media-body">
							<blockquote>
								<small><a title="" class="strong">{{chat.user}}</a> <cite>{{chat.messageTime}}</cite></small>
								<p>{{chat.message}}</p>
							</blockquote>
						</div>
					</div>	
					<div class="media" style="margin-top:0px;" ng-show="chat.user == '@localUser.name'">
						<div class="media-object pull-right thumb"><img ng-src="/getUserPic/{{chat.userId}}" alt="Image" style="width:51px;height:51px;"></div>
						<div class="media-body right">
							<blockquote class="pull-right">
								<small><a title="" class="strong">{{chat.user}}</a> <cite>{{chat.messageTime}}</cite></small>
								<p>{{chat.message}}</p>
							</blockquote>
						</div>
					</div>
				</div>
				
				<div ng-show="chat.type == 'image'">
					<div class="media" style="margin-top:0px;" ng-show="chat.user != '@localUser.name'">
						<div class="media-object pull-left thumb"><img ng-src="/getUserPic/{{chat.userId}}" alt="Image" style="width:51px;height:51px;"></div>
						<div class="media-body">
							<blockquote>
								<small><a title="" class="strong">{{chat.user}}</a> <cite>{{chat.messageTime}}</cite></small>
								<p>Attachment<a class="glyphicons no-js download_alt"><i ng-click="downloadFile(chat.id)"></i></a></p>
							</blockquote>
						</div>
					</div>
					<div class="media" style="margin-top:0px;" ng-show="chat.user == '@localUser.name'">
						<div class="media-object pull-right thumb"><img ng-src="/getUserPic/{{chat.userId}}" alt="Image" style="width:51px;height:51px;"></div>
						<div class="media-body right">
							<blockquote class="pull-right">
								<small><a title="" class="strong">{{chat.user}}</a> <cite>{{chat.messageTime}}</cite></small>
								<p>Attachment<a style="float:right;" class="glyphicons no-js download_alt"><i ng-click="downloadFile(chat.id)"></i></a></p>
							</blockquote>
						</div>
					</div>
				</div>
				<!-- // Media item END -->
			</div>								
			</div>
			<!-- // Slim Scroll END -->
			
			</div>
			
			<div class="chat-controls" style="height:inherit;">
				<div class="innerLR">
					<form class="margin-none">
						<div class="row-fluid">
							<div class="span12">
								<textarea id="talk" rows="2" cols="70" class="input-block-level margin-none" placeholder="Press enter to send"></textarea>
							</div>
						</div>	
					</form>
					Attachments:
					<div class="row-fluid">
						<div class="span8">
						<div class="fileupload fileupload-new" data-provides="fileupload" style="float:left;">
					  		<span class="btn btn-default btn-file">
					  			<span class="fileupload-new">Select file</span>
					  			<span class="fileupload-exists">Change</span>
					  			<input type="file" id="image"/>
					  		</span>
					  		<span class="fileupload-preview"></span>
					  		<a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none">&times;</a>
						</div>
						</div>
						<div class="span4">
							<button style="width:55px;float:right;" id="send" class="btn btn-block btn-inverse">Send</button>
						</div>
					</div>	
				</div>
			</div>
			
		</div>
		<!-- // Chat END -->

	</div>
	</div>
	
</div>

<!-- Modal -->
<div class="modal hide fade" id="quoteModal">
	
	<!-- Modal heading -->
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	</div>
	<!-- // Modal heading END -->
	
	<!-- Modal body -->
	<div class="modal-body" style="overflow: hidden;">
		<span id="name" class="span6" style="font-size:15px;font-weight:bolder;">{{quoteResult.Name}}({{quoteResult.Symbol}})</span>
		<div class="span6 span6modal">
			<span style="width:50%;">
				<span id="open" style="font-size:25px;font-weight:bolder;">{{quoteResult.LastPrice}}</span>
				<span ng-show="quoteResult.Change > 0"><img style="width:5%;" src="/assets/images/StockIndexUp.png"></span>
				<span ng-show="quoteResult.Change < 0"><img style="width:5%;" src="/assets/images/StockIndexDown.png"></span>
				<span ng-show="quoteResult.Change > 0" id="change" style="font-size:20px;color:green;">{{quoteResult.Change | number:2}}</span>
				<span ng-show="quoteResult.Change < 0" id="change" style="font-size:20px;color:red;">{{quoteResult.Change | number:2}}</span>
				<span ng-show="quoteResult.Change > 0" id="changePercent" style="font-size:20px;color:green;">({{quoteResult.ChangePercent | number:2}}%)</span>
				<span ng-show="quoteResult.Change < 0" id="changePercent" style="font-size:20px;color:red;">({{quoteResult.ChangePercent | number:2}}%)</span>
			</span>
			<span id="timestamp" style="font-size:10px;float:right;padding:1%;">{{quoteResult.Timestamp}}</span>
		</div>	
	</div>
	<!-- // Modal body END -->
	
	<!-- Modal footer -->
	<div class="modal-footer">
		
		<div class="row-fluid">
			<div class="span6">
				<div class="control-group">
					<label style="float:left;" class="control-label">Open:</label>
					<label style="font-weight:900;" class="control-label">{{quoteResult.Open}}</label>
				</div><hr>
				<div class="control-group">
					<label style="float:left;" class="control-label">High:</label>
					<label style="font-weight:900;" class="control-label">{{quoteResult.High}}</label>
				</div><hr>
				<div class="control-group">
					<label style="float:left;" class="control-label">Low:</label>
					<label style="font-weight:900;" class="control-label">{{quoteResult.Low}}</label>
				</div><hr>
				<div class="control-group">
					<label style="float:left;" class="control-label">Volume:</label>
					<label style="font-weight:900;" class="control-label">{{quoteResult.Volume}}</label>
				</div><hr>			
			</div>
			<div class="span6">
				<div class="control-group">
					<label style="float:left;" class="control-label">Change YTD:</label>
					<label style="font-weight:900;" class="control-label">{{quoteResult.ChangeYTD | number:2}}</label>
				</div><hr>
				<div class="control-group">
					<label style="float:left;" class="control-label">Change YTD(%):</label>
					<label style="font-weight:900;" class="control-label">{{quoteResult.ChangePercentYTD | number:2}}%</label>
				</div><hr>
				<div class="control-group">
					<label style="float:left;" class="control-label">MS Date:</label>
					<label style="font-weight:900;" class="control-label">{{quoteResult.MSDate}}</label>
				</div><hr>
				<div class="control-group">
					<label style="float:left;" class="control-label">Market Cap:</label>
					<label style="font-weight:900;" class="control-label">{{quoteResult.MarketCap | number:2}}MN</label>
				</div><hr>			
			</div>
		</div>
	
	</div>
	<!-- // Modal footer END -->
	
</div>
<!-- // Modal END -->	

<!-- Modal -->
<div class="modal hide fade" id="downloadModal">
	
	<!-- Modal heading -->
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	</div>
	<!-- // Modal heading END -->
	
	<!-- Modal body -->
	<div class="modal-body" style="overflow: hidden;">
		We are preparing your report, please wait...
 	    <div class="ui-progressbar-value ui-corner-left ui-corner-right" style="width: 100%; height:22px; margin-top: 20px;"></div>
	</div>
	<!-- // Modal body END -->
	
	<!-- Modal footer -->
	<div class="modal-footer">
	
	</div>
	<!-- // Modal footer END -->
	
</div>
<!-- // Modal END -->	

<!-- Modal -->
<div class="modal hide fade" id="errorModal">
	
	<!-- Modal heading -->
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	</div>
	<!-- // Modal heading END -->
	
	<!-- Modal body -->
	<div class="modal-body" style="overflow: hidden;">
		There was a problem downloading your file, please try again.
	</div>
	<!-- // Modal body END -->
	
	<!-- Modal footer -->
	<div class="modal-footer">
	
	</div>
	<!-- // Modal footer END -->
	
</div>
<!-- // Modal END -->	



<script>
$(document).ready(function(){
	var script = document.createElement( 'script' );
	script.type = 'text/javascript';
	script.src = "http://widgets.macroaxis.com/widgets/url.jsp?t=42&s=goog,msft,ctsh,aapl,yhoo,amzn,baba";
	$("#my_xss_magic").append(script);
});


$(function() {
    var WS = window['MozWebSocket'] ? MozWebSocket : WebSocket
    var chatSocket = new WS("@routes.Application.chat(localUser.name).webSocketURL(request)")

    var control = $("#image");
    
    var sendImage = function(){
    	var file = document.getElementById("image").files[0];

        var reader = new FileReader();
        // Sends the result of the file read as soon as the reader has
        // completed reading the image file.
        
        reader.onloadend = function(){
        	console.log(JSON.stringify(
                    {text: reader.result,type: "image"}));
        	chatSocket.send(JSON.stringify(
                    {text: reader.result,type: "image"}
            ));
        	control.replaceWith( control.val('').clone( true ) );
        	//document.getElementById("image") = '';
        };
        // Make sure the file exists and is an image
        if(file && file.type.match("image")){
            reader.readAsDataURL(file);
        }
        
    } 
    
    
    var sendMessage = function() {
    	console.log("sendMessage");
    	if($("#talk").val() != ""){
            chatSocket.send(JSON.stringify(
                {text: $("#talk").val(),type: "message"}
            ))
            $("#talk").val('')
    	}
    }
    
    var receiveEvent = function(event) {
    	var data = JSON.parse(event.data)
        var chat = {};
        if(data.kind == "talk"){
        	chat = {
        				id:data.id,
        				attachment:data.attachment,
        				message:data.message,
        				messageTime:data.time,
        				user:data.user,
        				type:data.type,
        				userId:data.userId,
        	}
       		angular.element('#content1').scope().addChat(chat);
        //}else{
     		// Update the members list
     		//angular.element('#content1').scope().showOnline(data.members);
        }
        angular.element('#content1').scope().showOnline(data.members);
 	}
    
    chatSocket.binaryType = 'arraybuffer';
   	chatSocket.onmessage = receiveEvent;

   	var handleReturnKey = function(e) {
        if(e.charCode == 13 || e.keyCode == 13) {
            e.preventDefault()
            sendMessage()
      	} 
    }
    
   	$('#send').click(function(){
   	    sendImage()
   	});
   	
    $("#talk").keypress(handleReturnKey)  
	
})

$(function(){
    $('#inner-content-div').slimScroll({
        height: '440px'
    });
});
$(function(){
    $('#inner-content-div1').slimScroll({
        height: '300px'
    });
});

$(function() {

	$("#symbolsearch")
		.focus()
		.autocomplete({
			source: function(request,response) {
				if($("#symbolsearch").val().length > 0){
				$.ajax({
					beforeSend: function(){ 
						$("span.help-inline").show();
						$("span.label-info").empty().hide();
					},
					url: "http://dev.markitondemand.com/api/v2/Lookup/jsonp",
					dataType: "jsonp",
					data: {
						input: request.term
					},
					success: function(data) {
						response( $.map(data, function(item) {
							return {
								label: item.Name + " (" +item.Exchange+ ")",
								value: item.Symbol,
								item: item
							}
						}));
						$("span.help-inline").hide();
					}
				});
				}},
			minLength: 0,
			select: function( event, ui ) {
				angular.element('#content1').scope().addToWishlist(ui.item.item);
				$("span.label-info").html("You selected " + ui.item.label).fadeIn("fast");
			},
			open: function() {
				//$(this).removeClass("ui-corner-all").addClass("ui-corner-top");
			},
			close: function() {
				//$(this).removeClass("ui-corner-top").addClass("ui-corner-all");
			}
		})
	;
});


$(function() {
	$("#symbolsearch1")
		.focus()
		.autocomplete({
			source: function(request,response) {
				if($("#symbolsearch1").val().length > 0){
				$.ajax({
					beforeSend: function(){ 
						$("span.help-inline").show();
						$("span.label-info").empty().hide();
					},
					url: "http://dev.markitondemand.com/api/v2/Lookup/jsonp",
					dataType: "jsonp",
					data: {
						input: request.term
					},
					success: function(data) {
						response( $.map(data, function(item) {
							return {
								label: item.Name + " (" +item.Exchange+ ")",
								value: item.Symbol,
								item: item
							}
						}));
						$("span.help-inline").hide();
					}
				});
				}},
			minLength: 0,
			select: function( event, ui ) {
				angular.element('#content1').scope().getQuote(ui.item.item);
				$('#quoteModal').modal('show');
				$("span.label-info").html("You selected " + ui.item.label).fadeIn("fast");
			},
			open: function() {
				//$(this).removeClass("ui-corner-all").addClass("ui-corner-top");
			},
			close: function() {
				//$(this).removeClass("ui-corner-top").addClass("ui-corner-all");
			}
		});
});

</script>	