@(flag: Boolean)

<!DOCTYPE html>


<html lang="en">
<body class="login" style="background:url('@routes.Assets.at("images/background.jpg")');background-repeat:no-repeat;">

	<!-- Wrapper -->
<div id="login">

	<div class="container">
	
		<div class="wrapper" style="max-width:400px !important;margin-top:50px;">
		
			<img src="/assets/images/c_logo.png">
		
			<!-- Box -->
			<div class="widget" style="margin-top:50px;">
				
				<div class="widget-head">
					<h3 class="heading">Login area</h3>
					<div class="pull-right">
						Don't have an account? 
						<a href="@routes.Application.signup" class="btn btn-inverse btn-mini">Sign up</a>
					</div>
				</div>
				<div class="widget-body">
					@if(flash.contains("error")) {
                       <p class="error" style="color:red;">
                           @flash.get("error")
                       </p>
                   }
									
					<!-- Form -->
					<form action='@routes.Application.doLogin' method="POST" role="form"> 
						<label>Email</label>
						<input type="text" class="input-block-level" name="email" placeholder="Your Email address"/> 
						<label>Password</label>
						<input type="password" name="password" class="input-block-level margin-none" placeholder="Your Password" />
						<div class="separator bottom"></div> 
						<div class="row-fluid">
							<!-- <div class="span8">
								<div class="uniformjs"><label class="checkbox"><input type="checkbox" value="remember-me">Remember me</label></div>
							</div> -->
							<div class="span4 center">
								<button class="btn btn-block btn-primary" type="submit">Sign in</button>
							</div>
							 <a class="password" href="@routes.Application.forgotPass">forgot your password?</a>
						</div>
					</form>
					<!-- // Form END -->
							
				</div>
				<div class="widget-footer">
					<p class="glyphicons restart"><i></i>Please enter your username and password ...</p>
				</div>
			</div>
			<!-- // Box END -->
			
		</div>
		
	</div>
	
</div>
<!-- // Wrapper END -->	
	
	

</body>
</html>
